{% extends 'baseforfiles.html' %}
{%block title %}Comedy{% endblock title %}


{% block imagec1 %}  /static/Comedy/Ted.jpg {% endblock imagec1 %}
{% block titlec1 %} Ted {% endblock titlec1 %}
{% block imagec1des %} IMDb:6.3  <br> Rotten tomatoes 73% {% endblock imagec1des %}


<!-- 2nd card -->
{% block imagec2 %} /static/Comedy/tomandjerry.jpg {% endblock imagec2 %}
{% block titlec2 %} Tom & Jerry {% endblock titlec2 %}
{% block imagec2des %} IMDb:5.3  <br> Rotten Tomatoes 82% {% endblock imagec2des %}

<!-- 3rd card -->
{% block imagec3 %} /static/Comedy/Dictator.jpg  {% endblock imagec3 %}
{% block titlec3 %} The Dictator {% endblock titlec3 %}
{% block imagec3des %} IMDb:6.4   <br> Rotten Tomatoes 44%  {% endblock imagec3des %}

<!-- 4th card -->
{% block imagec4 %} /static/Comedy/21 Jump Street.jpg  {% endblock imagec4 %}
{% block titlec4 %} 22 Jump Street {% endblock titlec4 %}
{% block imagec4des %} IMDb:7  <br> Rotten Tomatoes 77% {% endblock imagec4des %}



<!-- 5th card -->
{% block imagec5 %} /static/Comedy/DumbandDumber.jpg {% endblock imagec5 %}
{% block titlec5 %} Dumb & Dumber {% endblock titlec5 %}
{% block imagec5des %} IMDb:7.3  <br> Rotten Tomatoes 84% {% endblock imagec5des %}



<!-- 6th card -->
{% block imagec6 %} /static/Comedy/The Interview.jpg {% endblock imagec6 %}
{% block titlec6 %} Interview {% endblock titlec6 %}
{% block imagec6des %} IMDb:6.5   <br> Rotten Tomatoes 48% {% endblock imagec6des %}



<!-- 7th card -->
{% block imagec7 %} /static/Comedy/Dream-Girl.jpg  {% endblock imagec7 %}
{% block titlec7 %}  Dream Girl {% endblock titlec7 %}
{% block imagec7des %} IMDb:7  <br> Rotten Tomatoes 86% {% endblock imagec7des %}



<!-- 8th card -->
{% block imagec8 %} /static/Comedy/Game night.jpg {% endblock imagec8 %}
{% block titlec8 %} Game Night {% endblock titlec8 %}
{% block imagec8des %} IMDb:6.9   <br> Rotten Tomatoes 77% {% endblock imagec8des %}



<!-- 9th card -->
{% block imagec9 %} /static/Comedy/Hera pheri.jpg {% endblock imagec9 %}
{% block titlec9 %} Hera pheri {% endblock titlec9 %}
{% block imagec9des %} IMDb:8.2  <br> Rotten Tomatoes 92% {% endblock imagec9des %}



<!-- 10th card -->
{% block imagec10 %} /static/Comedy/RushHour3.jpg {% endblock imagec10 %}
{% block titlec10 %} Rush Hour 3 {% endblock titlec10 %}
{% block imagec10des %} IMDb:6.2 <br> Rotten Tomatoes 83% {% endblock imagec10des %}
{% block link10 %} https://www.netflix.com/in/ {% endblock link10 %}

{% block body %}  {% endblock body %}