{% extends 'baseforfiles.html' %}
{%block title %}Sc-Fi{% endblock title %}


{% block imagec1 %} /static/Sc-fi/Avatar.jpg {% endblock imagec1 %}
{% block titlec1 %} Avatar {% endblock titlec1 %}
{% block imagec1des %} IMDb:7.8 <br> Rotten Tomatoes:81% {% endblock imagec1des %}


<!-- 2nd card -->
{% block imagec2 %} /static/Sc-fi/Prometheus-1.jpg  {% endblock imagec2 %}
{% block titlec2 %}Prometheous{% endblock titlec2 %}
{% block imagec2des %} IMDb:7<br> Rotten Tomatoes:73%{% endblock imagec2des %}



<!-- 3rd card -->
{% block imagec3 %} /static/Sc-fi/Her.jpg {% endblock imagec3 %}
{% block titlec3 %} Her {% endblock titlec3 %}
{% block imagec3des %} IMDb:8<br> Rotten Tomatoes:94%{% endblock imagec3des %}


<!-- 4th card -->
{% block imagec4 %} /static/Sc-fi/Interstellar.jpg {% endblock imagec4 %}
{% block titlec4 %} Interstellar {% endblock titlec4 %}
{% block imagec4des %}IMDb:8.6<br> Rotten Tomatoes:86%{% endblock imagec4des %}

<!-- 5th card -->
{% block imagec5 %} /static/Sc-fi/Oblivion.jpg {% endblock imagec5 %}
{% block titlec5 %} Oblivion {% endblock titlec5 %}
{% block imagec5des %} IMDb:7  <br> Rotten Tomatoes:61%{% endblock imagec5des %}

<!-- 6th card -->
{% block imagec6 %} /static/Sc-fi/Arrival.png {% endblock imagec6 %}
{% block titlec6 %}Arrival{% endblock titlec6 %}
{% block imagec6des %} IMDb:7.9 <br> Rotten Tomatoes 82% {% endblock imagec6des %}

<!-- 7th card -->
{% block imagec7 %}/static/Sc-fi/Mad-Max-Fury-Road.jpg{% endblock imagec7 %}
{% block titlec7 %}MadMax-Fury-Road{% endblock titlec7 %}
{% block imagec7des %} IMDb:8.1  <br> Rotten Tomatoes 86% {% endblock imagec7des %}

<!-- 8th card -->
{% block imagec8 %}/static/Sc-fi/Blade Runner 2049.jpg{% endblock imagec8 %}
{% block titlec8 %}Blade Runner{% endblock titlec8 %}
{% block imagec8des %} IMDb:8  <br> Rotten Tomatoes 81% {% endblock imagec8des %}

<!-- 9th card -->
{% block imagec9 %} /static/Sc-fi/Ready Player One.jpg {% endblock imagec9 %}
{% block titlec9 %}Ready Player One{% endblock titlec9 %}
{% block imagec9des %}IMDb:7.4 <br> Rotten Tomatoes 77% {% endblock imagec9des %}

<!-- 10th card -->
{% block imagec10 %} /static/Sc-fi/Edge of Tomorrow.jpg {% endblock imagec10 %}
{% block titlec10 %} Edge of Tomorrow {% endblock titlec10 %}
{% block imagec10des %} IMDb:7.9 <br> Rotten Tomatoes 90% {% endblock imagec10des %}
{% block link10 %} https://www.netflix.com/in/ {% endblock link10 %}

{% block body %}  {% endblock body %}
