{% extends 'base.html' %}
{%block title %}Thriller{% endblock title %}

<!-- 
{% block imagec1 %} /static/Thriller/Usual Suspects.jpg {% endblock imagec1 %}
{% block titlec1 %} Usual Suspects {% endblock titlec1 %}
{% block imagec1des %} IMDb:8.5  <br> Rotten Tomatoes 96% {% endblock imagec1des %}

{% block imagec2 %} /static/Crime/Silence of the Lambs.jpg {% endblock imagec2 %}
{% block titlec2 %} Silence of the Lambs{% endblock titlec2 %}
{% block imagec2des %} IMDb:8.6  <br> Rotten Tomatoes 95% {% endblock imagec2des %}


{% block imagec3 %} /static/Thriller/Se7en.jpg {% endblock imagec3 %}
{% block titlec3 %} Se7en {% endblock titlec3 %}
{% block imagec3des %} IMDb:8.6  <br> Rotten Tomatoes 95% {% endblock imagec3des %}



{% block imagec4 %} /static/Thriller/get-out.jpg {% endblock imagec4 %}
{% block titlec4 %} Get <br> Out {% endblock titlec4 %}
{% block imagec4des %} IMDb:7.7  <br> Rotten Tomatoes 86% {% endblock imagec4des %}


{% block imagec5 %} /static/Thriller/Gone girl.jpg {% endblock imagec5 %}
{% block titlec5 %} Gone <br> Girl {% endblock titlec5 %}
{% block imagec5des %} IMDb:8.1  <br> Rotten Tomatoes 87% {% endblock imagec5des %}


{% block imagec6 %} /static/Thriller/Drishyam.jpg {% endblock imagec6 %}
{% block titlec6 %} Drishyam {% endblock titlec6 %}
{% block imagec6des %} IMDb:8.2  <br> Rotten Tomatoes 91% {% endblock imagec6des %}


{% block imagec7 %} /static/Thriller/memento.jpg  {% endblock imagec7 %}
{% block titlec7 %} Memento {% endblock titlec7 %}
{% block imagec7des %} IMDb:8.4  <br> Rotten Tomatoes 94% {% endblock imagec7des %}


{% block imagec8 %} /static/Thriller/The Machinist.jpg {% endblock imagec8 %}
{% block titlec8 %} Machinist {% endblock titlec8 %}
{% block imagec8des %} IMDb:7.7  <br> Rotten Tomatoes 83% {% endblock imagec8des %}


{% block imagec9 %} /static/Thriller/Inception.jpg {% endblock imagec9 %}
{% block titlec9 %} Inception {% endblock titlec9 %}
{% block imagec9des %} IMDb:8.8  <br> Rotten Tomatoes 91% {% endblock imagec9des %}


{% block imagec10 %} /static/Thriller/Shutter Island.jpg {% endblock imagec10 %}
{% block titlec10 %} Shutter Island {% endblock titlec10 %}
{% block imagec10des %} IMDb:8.2  <br> Rotten Tomatoes 77% {% endblock imagec10des %}
{% block link10 %} https://www.netflix.com/in/ {% endblock link10 %} -->

{% block body %}
<!-- 1st card -->
<div class="container">
    <div class="cards">
        <div class="image">
            <img src='/static/Thriller/Usual Suspects.jpg'
                alt="Usual Suspects">
        </div>
        <div class="title">
            <h1></h1>
        </div>
        <div class="des">
            <p>IMDb:8.5  <br> Rotten Tomatoes 96% </p>
            <button><a style="text-decoration: none;" href="https://www.netflix.com/in/">watch now</a></button>
        </div>
    </div>

    <!--2nd  cards -->
    <div class="cards">
        <div class="image">
            <img src="/static/Crime/Silence of the Lambs.jpg"
                alt="Silence of the Lambs">
        </div>
        <div class="title">
            <h1></h1>
        </div>
        <div class="des">
            <p> IMDb:8.6  <br> Rotten Tomatoes 95%</p>
            <button><a style="text-decoration: none;" href="https://www.netflix.com/in/">watch now</a></button>
        </div>
    </div>

    <!-- 3rd card -->
    <div class="cards">
        <div class="image">
            <img src="/static/Thriller/Se7en.jpg"
                alt="Se7en">
        </div>
        <div class="title">
            <h1></h1>
        </div>
        <div class="des">
            <p>  IMDb:8.6  <br> Rotten Tomatoes 95% </p>
            <button><a style="text-decoration: none;" href="https://www.netflix.com/in/">watch now</a></button>
        </div>
    </div>

    <!-- 4th card -->
    <div class="cards">
        <div class="image">
            <img src="/static/Thriller/get-out.jpg"
                alt="Get Out">
        </div>
        <div class="title">
            <h1></h1>
        </div>
        <div class="des">
            <p> IMDb:7.7  <br> Rotten Tomatoes 86%</p>
            <button><a style="text-decoration: none;" href="https://www.netflix.com/in/">watch now</a></button>
        </div>
    </div>

    <!-- 5th card -->
    <div class="cards">
        <div class="image">
            <img src="/static/Thriller/Gone girl.jpg"
                alt="Gone Girl">
        </div>
        <div class="title">
            <h1></h1>
        </div>
        <div class="des">
            <p>  IMDb:8.1  <br> Rotten Tomatoes 87%</p>
            <button><a style="text-decoration: none;" href="https://www.netflix.com/in/">watch now</a></button>
        </div>
    </div>

    <!-- 6th card -->
    <div class="cards">
        <div class="image">
            <img src="/static/Thriller/Drishyam.jpg"
                alt="Drishyam">
        </div>
        <div class="title">
            <h1></h1>
        </div>
        <div class="des">
            <p> IMDb:8.2  <br> Rotten Tomatoes 91% </p>
            <button><a style="text-decoration: none;" href="https://www.netflix.com/in/">watch now</a></button>
        </div>
    </div>

    <!-- 7th card -->
    <div class="cards">
        <div class="image">
            <img src="/static/Thriller/memento.jpg"
                alt="Memento">
        </div>
        <div class="title">
            <h1></h1>
        </div>
        <div class="des">
            <p>  IMDb:8.4  <br> Rotten Tomatoes 94%</p>
            <button><a style="text-decoration: none;" href="https://www.netflix.com/in/">watch now</a></button>
        </div>
    </div>

    <!-- 8th cards -->
    <div class="cards">
        <div class="image">
            <img src="/static/Thriller/The Machinist.jpg"
                alt="Machinist">
        </div>
        <div class="title">
            <h1></h1>
        </div>
        <div class="des">
            <p>  IMDb:7.7  <br> Rotten Tomatoes 83% </p>
            <button><a style="text-decoration: none;" href="https://www.netflix.com/in/">watch now</a></button>
        </div>
    </div>

    <div class="cards">
        <div class="image">
            <img src="/static/Thriller/Inception.jpg"
                alt="Inception">
        </div>
        <div class="title">
            <h1></h1>
        </div>
        <div class="des">
            <p> IMDb:8.8  <br> Rotten Tomatoes 91% </p>
            <button><a style="text-decoration: none;" href="https://www.netflix.com/in/">watch now</a></button>
        </div>
    </div>

    <div class="cards">
        <div class="image">
            <img src="/static/Thriller/Shutter Island.jpg"
                alt="Shutter Island">
        </div>
        <div class="title">
            <h1></h1>
        </div>
        <div class="des">
            <p> IMDb:8.2  <br> Rotten Tomatoes 77% </p>
            <a style="text-decoration: none;" href="https://www.netflix.com/in/"><button>watch now</button></a>
        </div>
    </div>

</div>



{% endblock body %}